[submodule "mediapipe"]
	path = mediapipe
	url = git@github.com:polymitis/mediapipe.git
[submodule "unity/Assets/Editor/Builder"]
	path = unity/Assets/Editor/Builder
	url = git@github.com:polymitis/UnityBuildPipeline.git
